<%- include('header'); -%>
  <div class="container">

      <div class="page-header text-center">
          <h1><span></span> Profile Page</h1>
          <!-- <h1><span class="fa fa-anchor"></span> Profile Page</h1> -->
          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">

          <!-- LOCAL INFORMATION -->
          <div class="col-sm-6">
              <div class="well">
                  <!-- <h3><img src="<%= user.profileImg %>" alt=""></h3> -->

                  <% if (user.local.email) { %>
                      <p>
                          <!-- <strong>id</strong>: <%= user._id %><br> -->
                          <strong>email</strong>: <%= user.local.email %><br>
                          <!-- <strong>password</strong>: <%= user.local.password %> -->
                      </p>

                      <a href="/unlink/local" class="btn btn-default">Delete Account</a>
                  <% } else { %>
                      <a href="/connect/local" class="btn btn-default">Connect Local</a>
                  <% } %>

              </div>
          </div>
          <div class="col-sm-6">
            <h3>Posts</h3>
            <ul>
            <% for(var i=0; i<posts.length; i++) {%>
              <li>
                <a href="/post/<%= posts[i]._id%>"> <!-- what allows the pictures to be uploaded and stored in the data base by the ID -->
                  <img src="<%= posts[i].imgPath%>"> <!-- imgPath shows where you are going to pull the images from the database -->
                </a>
                <span><%= posts[i].caption %></span> <!-- displays the comments -->
                <span><%= posts[i].likes %></span> <!-- the like button -->
                <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              </li>
            <% } %>
            </ul>


          <h2>Add a post</h2>
          <!-- IMAGE UPLOAD -->
          <form action="/qpPost" enctype="multipart/form-data" method="post">
             <input type="text" name="caption" value="">
             <input type="file" name="file-to-upload">
             <input type="submit" value="Upload">
           </form>

  </div>
<%- include('footer'); -%>
